numpy~=1.18.5
scipy~=1.4.1
Pillow
cython
matplotlib~=3.0.3
scikit-image~=0.15.0
tensorflow>=1.6.0
keras>=2.0.8
opencv-python~=4.4.0.42
h5py
imgaug~=0.4.0
IPython[all]~=7.9.0
pycocotools~=2.0.2
flask~=1.1.2
pip~=20.1.1
setuptools~=36.4.0
pymysql~=0.10.1
